.button {
  margin-left: auto;
  margin-right: auto;

  border: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;

  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.subscribe__button {
  @extend .button;

  display: inline-block;
  align-items: center;
  justify-content: center;

  padding: 10px 28px;
}
.button__icon--send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.filter-list__button {
  @extend .button;

  box-shadow: none;
  padding: 6px 22px;

  color: var(--title-text-color);
  background: var(--secondary-bg-color);
  font-weight: 500;
  line-height: 1.62;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filter-list__button--defolt {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: var(--secondary-text-color);
  color: var(--darck-text-color);

  @include borders(1px, rgba(0, 0, 0, 0.1), 50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
