html {
  box-sizing: border-box;
}
*,
* ::before,
* ::after {
  box-sizing: inherit;
}
body {
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  visibility: hidden;
  height: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
