%logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 284px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

@mixin borders($size, $color, $radius) {
  border: $size solid $color;
  border-radius: $radius;
}
