.nav__list {
  display: flex;
  padding-inline-start: 0px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--accent-color);
    border-radius: 2px;
  }
  &.current {
    color: var(--accent-color);
  }
}

.nav__item {
  margin-left: 50px;
}
