.portfolio {
  font-size: 16px;
  line-height: 1.87;

  padding-top: 120px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  @media screen and (min-width: 768px) {
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
